@media (max-width: 1399px) {
  .account-step-one::after {
    content: "";
    position: absolute;
    top: 40px;
    right: -42px;
    width: 50%;
    height: 1px;
    background: #000;
  }
}

@media (max-width: 1199px) {
  .admin-frm-vendor-bx {
    padding: 0 50px 50px 50px;
  }

  
}


@media (min-width: 992px) {
  .mobile-menu-btn {
    display: none;
  }

  .sidebar-close-btn {
    display: none;
  }

  .dashbrd-left-asidebar {
    position: static;
    width: auto;
    height: auto;
    box-shadow: none;
    left: 0;
  }
}

@media (max-width : 991px) {

  .dashbrd-left-asidebar {
    border-radius: 0;
  }

  .mobile-menu-btn {
    color: #fff !important;
  }

  .dashboard-saller-sec {
    padding: 20px 0;
  }

  .dashbrd-left-asidebar {
    padding: 50px 15px;
  }

  .tp-saller-header .header-logo .logo-img {
    display: none;
  }

  .dash-search-dta-bx {
    flex-wrap: wrap;
  }

  .admn-mob-close-bx {
    margin-top: 8px;
    margin-right: 15px;
  }

  .tp-header-search-br {
    display: none;
  }



  /* Admin Resposnive Start
   */
  .dashboard-left-side {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 1050;
    background-color: #4D667E;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    overflow-y: scroll !important;
    height: 100%;
  }

  .dashboard-left-side {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
  }

  .dashboard-left-side::-webkit-scrollbar {
    display: none;
  }

  .dashboard-left-side.mobile-show {
    transform: translateX(0);
  }

  .mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1040;
    display: none;
  }

  .mobile-overlay.show {
    display: block;
  }

  /* Admin Resposnive End
   */

  /* .dashboard-right-side .tp-header-section .tp-right-admin-bx {
    gap: 5px;
  } */

  .lab-chart-crd .apexcharts-legend {
    position: absolute;
    left: auto;
    top: 30px !important;
    right: 0px !important;
  }

  .patient-bio-list {
    flex-wrap: wrap;
  }

  .admin-pisture-bx img {
    min-height: 350px;
  }

  .admin-frm-vendor-bx {
    padding: 30px 0 30px 0;
  }

  .admin-login-section .all-tp-main-section,
  .admin-login-section .all-tp-main-section .dashboard-right-side {
    overflow: auto !important;
  }

  .admin-login-section {
    overflow: auto !important;
  }

  .lab-login-frm-bx {
    gap: 10px;
  }

  .patient-bio-tab {
    padding: 15px;
  }

  .education-frm-bx {
    padding: 15px;

  }


  .employee-tabs .nav-tabs {
    flex-wrap: nowrap;
    overflow-x: scroll;
    text-wrap-mode: nowrap;
  }

  .employee-tabs .nav-tabs {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .employee-tabs::-webkit-scrollbar {
    display: none;
  }

  .patient-bio-tab .nav-tabs {
    border: 0;
    padding: 8px 0;
    flex-wrap: nowrap;
    text-wrap-mode: nowrap;
    overflow-x: scroll;
  }

  .tp-sub-main-bx {
    flex-wrap: wrap;
  }

  .edit-licence-tp-box::after {
    /* content: "";
    position: absolute;
    left: 0;
    height: 1px;
    bottom: 45px !important;
    width: 100%;
    background-color: #000; */

    display: none;
  }

  .account-step-bx {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .account-step-icon {
    font-size: 16px;
  }

  .account-step-main-bx {
    align-items: start;
  }

  .account-step-crd h6 {
    font-size: 14px;

  }
 


  .neo-health-frm-card {
    padding: 20px;
  }

  .nw-account-add-bx::after {
    display: none;
  }

  .admin-vndr-login h3 {
    font-size: 32px;
  }


  .account-step-one::after {
    content: "";
    position: absolute;
    top: 25px;
    right: -45px;
    width: 60%;
    height: 1px;
    background: #000;
  }

  .approve-title h5 {
    font-size: 14px;
  }

  .sub-header-bx {
    flex-wrap: wrap;
  }

  .custom-pagination .page-item .page-link {
    color: #333333;
    border-radius: 8px;
    border: 1px solid #F1F1F1;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 600;
  }

  .patient-card-details {
    position: absolute;
    bottom: 8px;
    left: 15px;
  }

  .patient-card-details h4 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .patient-card-details p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .patient-card-details h6 {
    font-size: 16px;
    margin-bottom: 0;

  }

  .qr-code-generate {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
  }

  .tble-action-menu {
    /* width: 330px; */
  }

  .doctor-main-profile-card {
    flex-direction: column;
  }

  .doctor-info-list {
    flex-direction: column;
  }

  .doctor-profile-pic img {
    width: 100%;
    height: 220px;
  }

  .address-fieldset {
    padding: 10px;
  }

  .doctor-info-item p {
    text-wrap-mode: wrap;
  }

  .doctor-info-list {
    max-width: 100%;
  }

  .doctor-license-pic img {
    height: 150px;
  }

  .notification-sub-card {
    align-items: start;
  }

  .new-mega-card {
    padding: 15px;
  }

  .patients-personal-info-card {
    padding: 15px;
  }

  .view-employee-bx {
    padding: 15px;

  }

  .prescription-patients-picture img {
    height: 108px;
  }

  .mega-content-bx {
    flex-wrap: wrap;
  }

  .view-report-card::after {
    width: 250px;
    height: 200px;
  }

  .blog-pic-bx img {
    max-width: 100px;
  }

  .search-table-frm {
    width: 200px;
  }

  .headr-search-table-frm {
    width: 150px;
  }

  .carding-bx {
    flex-wrap: wrap;
  }

  .add-patients-clients img {
    width: 100%;
    height: 200px;
  }

  .preview-img-wrapper img {
    width: 200px;
    height: 100px;
  }

  .ad-usr-profile {
    flex-direction: column;
  }

  .nw-box {
    flex-direction: column;
  }

  .return-box {
    display: block;
  }

  .generate-bill {
    padding: 10px;
  }

  .lg_title {
    font-size: 20px;
  }

  .admin-table-bx img {
    width: 35px;
    height: 35px;
  }

  .nw-pharmacy-details {
    flex-direction: column;
    justify-content: center !important;
    gap: 10px;
  }

  .prescription-check-bx{
    flex-wrap: wrap;
    gap: 10px;
  }

  .laboratory-card {
        flex-wrap: wrap;
    }

    .upload-icon{
      width: 65px;
    height: 50px;
    font-size: 20px;
    }

    .chat-tp-header{
  border-left: 1px solid #DBE0E5;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.chat-left-usr-bx{
      border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.vw-contract-bx{
  flex-wrap: wrap;
}

 .account-step-crd{
    width: 150px;
  }

  .add-upload-licence-bx{
    flex-wrap: wrap;
            gap: 0;
        justify-content: end;
  }

}




@media (max-width : 767px) {

  .table-responsive {
    overflow-x: auto;
  }

  .account-step-one::after {
    content: "";
    position: absolute;
    top: 25px;
    right: -12px;
    width: 30%;
    height: 1px;
    background: #000;
  }

  .patient-card-details {
    position: absolute;
    bottom: 25px;
    left: 20px;
  }

  .qr-code-generate {
    position: absolute;
    bottom: 35px;
    right: 25px;
    width: 60px;
    height: 60px;
  }
   .account-step-crd{
    width: 75px;
  }

      .patient-card-details h4 {
        font-size: 16px;
        margin-bottom: 0;
    }

    .patient-card-details h6 {
        font-size: 14px;
        margin-bottom: 0;
    }

}

@media (max-width : 567px) {

  .table-responsive {
    overflow-x: auto;
  }

  .account-step-one::after {
    content: "";
    position: absolute;
    top: 25px;
    right: -8px;
    width: 25%;
    height: 1px;
    background: #000;
  }


}